.logo {
    width: 100px;
    height: 100px;
}

.header{

    background-image: url('public\images\image-b1f43567079d69a083bef685746ecfd7.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    
    
}

/* Path: public/css/base.css */ 