body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(81,69,138,1) 100%);


}


nav {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 3;
    
    
}







.background {
    background-image: url('../images/Banniere.png'); /* Assurez-vous que le chemin est correct */
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 100vh;
    
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}

.logo {
    width: 100px;
    
}

.content {
    z-index: 9999;
    display: flex; 
    flex-direction: column;
    justify-content: center;
 
    height: 100%;
    
}

.content h1 {
    font-size: 4rem;
    
}

.content p {
    font-size: 1.5rem;
}

.background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}















