h2{
    color: #000;
    font-size: 2.5em;
    font-weight: 700;
   
    
}

h3{
    color: #000;
    font-size: 1.5em;
    font-weight: 700;
}

.container{
    margin-top: 50px;
    margin-bottom: 50px;
}

