 {% extends 'base.html.twig' %}



{% block title %}ECHEC !{% endblock %}



{% block body %}

<div class="text-center pt-5 pb-5" >

 <h1>ECHEC !</h1>
    <p>Votre don n'a pas été pris en compte ! </p>

{% endblock %}