{% extends 'base.html.twig' %}

{% block title %}Hello PlayersController!{% endblock %}

{% block body %}



<div class="text-center">

<h1>Nos Joueurs</h1>
<p>Voici les talents que nous avons décidé de prendre sous notre aile.</p>

 </div>



    


{% for player in players %}
<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <p class="title">{{player.game}}</p>
            
        </div>
        <div class="flip-card-back">
            <p class="title">{{player.firstname}} {{player.lastname}}</p>
            <p>"{{player.pseudo}}"</p>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}
