{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
<div class="container ">
    <div class="row">
        {% for new in news %}
            <div class="col-md-3  pt-5 pb-5">
                <div class="card " style="width: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ new.title }}</h5>
                        <div class="text-center pt-5">
                            <a href="{{ path('news_show', {'id': new.id}) }}" class="btn btn-primary" style="background-color: #51458A;">En savoir plus</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}