{% extends 'base.html.twig' %}

{% block title %}Hello EventsController!{% endblock %}

{% block body %}

<h1>{{data.data.tournament.name }}</h1>




{% for participant in data.data.tournament.participants.nodes %}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{participant.gamerTag}}</h5>
            </div>
    </div>
    {% endfor %}


{% endblock %}
